@model List<RetailManagment.ViewModels.Particular_cart>

@{
    ViewBag.Title = "CartList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script src="~/Scripts/jquery-{version}.js"></script>
</head>
<h2>Cart_Transport</h2>
<table class="table">
    <div>
        <h4>Cart</h4>
        <hr />
        <dl class="dl-horizontal">
    <tbody>
        @{
            foreach (var cart1 in Model)
            {
                <tr>
                    <td>@cart1.Product_name</td>
                    <td>@cart1.Quantity</td>
                    <td>@Html.ActionLink("Details", "Commodity_detail_withname", "Commodity", new { name = cart1.Product_name ?? string.Empty }, null)</td>
                </tr>
            }
        }
    </tbody>
    </table>


    </dl>
    </div>
    
        @Html.ActionLink("Back to List", "Index")
  
  