@{
    ViewBag.Title = "Contact Retail Managment Team";
}
<h4><b>@ViewBag.Title. </b></h4>
<h4>@ViewBag.Message</h4>

<address>
    3737 Wascana Pkwy<br />
    Regina, SK S4S 0A2<br />
    <abbr title="Phone">P:</abbr>
    306.585.4111
</address>

